<h1>SignUP!</h1>

<%= form_for :user, url: 'user' do |f| %>
 	<h2> Name </h2>
 <div> <%= f.text_field :name %></div>
 	<h2>E-mail</h2>
 <div>  <%= f.text_field :email %> </div>
 	<h2> Password </h2>
 <div> <%= f.password_field :password %></div>
 	<h2> Confirm Password </h2>
 <div> <%= f.password_field :password_confirmation %></div>
    <%= f.submit 'Submit' %>
<% end %>