<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
      html {
      }
  </style>
</head>
<body>
<nav> 
  <ul>
    <li><a href='/user/show'>Home</a></li>
    <li><a href='/sessions/info'>About</a></li>
    <li><a href='/contacs'>Contacs</a></li>
  </ul>
</nav>
<h1> 
  Goliath National Bank
</h1>
<div>
  <% if current_user %>
    Logged in as <%= current_user.name %>.
    <%= link_to "Log out", logout_path %>
  <% else %>
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "Log in", login_path %>
  <% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
</div>

<%= yield %>

</body>
<footer>© Nikolai Manchev 2015</footer>
</html>
