<!DOCTYPE html>
<html>
<head>
	<title>Project1</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<style>
			html {
			}
	</style>
</head>
<body>
<nav class="navabar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href='/sessions/info'>GNB</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href='/user/show'>Home</a></li>
			<li><a href='/contacs'>Contacs</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if current_user %>
        <li><a href="/accounts/new">New account</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/deposit">Deposit</a></li>
              <li><a href="/withdraw">Withdraw</a></li>
              <li><a href="/balance">Balance</a></li>
            </ul>
        </li>
        <li><p class="navbar-text">Logged as <%= current_user.name %></p></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      <% else %>
				<li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign up</a> </li>
				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a> </li>
			<% end %>
		</ul>
	</div>
</nav>
<div>
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, class: "alert alert-info" %>
	<% end %>
</div>

<%= yield %>
<footer>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <p class="navbar-text pull-right">Nikolai Manchev 2016</p>
    <a href="http://github.com/nickmandev"><i class="fa fa-github-alt fa-3x"></i></a>
  </div>
</footer>
</body>
</html>
